/* Navbar.css */
.navbar-brand:hover {
  cursor: pointer;
  opacity: 0.9;
}

.nav-link {
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #0a4cad !important;
}
.nav-item{
padding: 10px 10px 10px;  
}
.btn-outline-dark:hover {
  background-color: #0a4cad;
  color: white;
}
